<ul class='<%=classNames.navUl%>'></ul>
<div style="float:left;padding:12px 0px 0px 10px;">
    <a href="http://www.finoux.com" target="_blank" title="Finoux - A Unique Technology Partner for Financial Services Firms"><img style="margin: 4px 0px 0px 0px; height: 15px;" src="images/charting/finoux_logoBlack.jpg" />
    </a>
</div>
<div class='<%=classNames.corporateAction%>'></div>
<div class='<%=classNames.settings%>'></div>
<div class="date-wrpr">
    <div class='<%=classNames.date%>'></div>
</div>
